@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, sans-serif;
}

.btn-sena {
  background-color: #39A900;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
